#root, .background {
	-fx-background: #393939;
	-fx-background-color: #393939;
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.separator *.line {
	-fx-border-style: solid;
	-fx-border-width: 3 0 0 0;
	-fx-border-color: #007fcf;
}

.scroll-pane {
	-fx-background: transparent;
}

#selectedTabLabel {
	-fx-font-size: 28px;
	-fx-rotate: -90;
}

/* White fill for various controls and content */
.table-view .table-column,
.table-view .column-header-background .label,
.table-view .placeholder .label {
	-fx-fill: white;
	-fx-text-fill: white;
}

/* Arrows for various components*/
.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow,
.table-view .arrow,
.combo-box-base > .arrow-button > .arrow{
	-fx-background-color: white;
}

/* Tables */
.table-view .arrow {
	-fx-background-color: white;
}

.table-view .table-column {
	-fx-font-weight: bold;
}

.table-view, .table-row-cell {
	-fx-background-color: #4e4e4e;
	-fx-border-width: 0
}

.table-row-cell:odd:filled {
	-fx-background-color: #484848;
}

.table-view *.column-header, .table-view *.filler,
.scroll-bar > .track {
	-fx-background-color: #313131;
}

.label {
	-fx-text-fill: white;
}

.text-area {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-text-fill: white;
	-fx-wrap-text: true;
}

.text-area .content {
	-fx-background-color: #454545;
	-fx-background-insets: 0;
}

.text-area:readonly .content {
	-fx-text-fill: white;
}

.scroll-bar > .thumb {
	-fx-background-color: #7f7f7f;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}

.table-view .column-header-background {
	-fx-border-color: #007fcf;
	-fx-border-width: 0 0 3px 0;
}

.table-view {
	-fx-padding: 0;
}

.table-view .table-row-cell {
	-fx-table-cell-border-color: transparent;
}

/* Progress bar background, text field, combo box and list view */
.progress-bar .track,
.text-field,
.combo-box .list-cell,
.list-view {
	-fx-background-color: #313131;
	-fx-background-radius: 0;
	-fx-text-fill: white;
	-fx-highlight-fill: #007fcf;
}

.combo-box,
.button,
.scroll-bar > .decrement-button,
.scroll-bar > .increment-button {
	-fx-text-fill: white;
	-fx-background-color: #007fcf;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

/* Cards */
	
	.card-container {
		-fx-hgap: 10px;
		-fx-vgap: 10px;
	}
	
	.card {
		-fx-background-color: #454545;
		-fx-vbar-policy: as-needed;
		-fx-hbar-policy: never;
	}
	
	.card-content {
		-fx-vgap: 5px;
		-fx-alignment: center;
	}
	
	.card .title {
		-fx-font-weight: bold;
		-fx-text-fill: white;
		-fx-wrap-text: true;
		-fx-font-size: 14px;
		-fx-background-color: #313131;
		-fx-padding: 5px;
	}
	
	.card .description {
		-fx-font-size: 12px;
	}

/* Tabs*/
	
	.tab-pane {
		-fx-tab-min-width: 40px;
		-fx-tab-min-height: 40px;
		-fx-tab-max-width: 40px;
		-fx-tab-max-height: 40px;
	}

	.tab-pane .tab-header-area {
		-fx-padding: 0;
	}

	.tab-pane *.tab-header-area *.tab-header-background {
		-fx-background-color: #313131;
	}
	
	.tab-pane *.tab-content-area {
		-fx-background-color: #393939;
		-fx-padding: 8px;
	}
	
	.tab-pane .tab {
		-fx-background-color: #313131;
		-fx-text-fill: gray;
		-fx-padding: 5px;
	}

	.tab-pane .tab .scroll-pane {
		-fx-fit-to-height: true;
	}
	
	.tab-pane .tab:selected {
		-fx-border-color: #007fcf;
		-fx-border-width: 0 0 3px 0;
		-fx-background-color: #484848;
		-fx-background-radius: 0;
	}
	
	.tab-pane .tab-label {
		-fx-content-display: graphic-only;
	}
	
/* Servers */
	
	.server-play-cell {
		-fx-alignment: center;
	}

	.server-play-cell .button {
		-fx-pref-width: 70px;
	}

	#serverTable {
		-fx-background-color: #4e4e4e;
		-fx-border-width: 0;
		-fx-padding: 0px;
		-fx-max-height: 225px;
	}
	
	#serverTable .table-column {
		-fx-font-weight: bold;
	}
	
	#serverTable .table-row-cell {
		-fx-pref-height: 75px;
	}
	
	.left-table-cell {
		-fx-alignment: center-left;
	}
	
	.center-table-cell {
		-fx-alignment: center;
	}
	
/* Settings */
	
	.settings-header-label {
		-fx-font-size: 14px;
		-fx-font-weight: bold;
		-fx-text-fill: white;
		-fx-padding: 5 0 10 5;
	}
	
	.settings-row {
		-fx-pref-height: 25px;
		-fx-padding: 5 5 5 50;
		-fx-hgap: 5px;
	}

	.settings-row .button {
		-fx-pref-width: 125px;
	}
	
	.settings-row .label {
		-fx-pref-width: 125px;
		-fx-pref-height: 25px;
		-fx-text-fill: white;
	}
	
	.settings-row .check-box {
		-fx-pref-height: 25px;
		-fx-text-fill: white;
	}
	
	.settings-row .pathSelection {
		-fx-min-width: 25px;
		-fx-max-width: 25px;
		-fx-min-height: 25px;
		-fx-max-height: 25px;
		-icons-color: white;
	}
	
	.settings-row .combo-box,
	.settings-row .text-field {
		-fx-pref-width: 400px;
		-fx-pref-height: 20px;
	}
